In [1]:
#comprehension: List, Dictionary

In [2]:
l=[i for i in range(5)]
l

[0, 1, 2, 3, 4]

In [4]:
l=[i for i in range(15) if i%2==0]
l

[0, 2, 4, 6, 8, 10, 12, 14]

In [7]:
a=[23,45,67,78,88,44,23,89,43]
l=[i for i in a if i%2==0]
l

[78, 88, 44]

In [8]:
a=("Apple","Ball","cat","dog","fish")
l= [x for x in a if x[0].isupper()]
l

['Apple', 'Ball']

In [9]:
d={i:i**2 for i in range(1,11)}
d

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [10]:
a=("Apple","Ball","cat","dog","fish")
d={i:i.lower() for i in a}
d

{'Apple': 'apple', 'Ball': 'ball', 'cat': 'cat', 'dog': 'dog', 'fish': 'fish'}

In [11]:
l=[input("Enter value= ") for i in range(5)]
l

Enter value= ram
Enter value= biks
Enter value= chiks
Enter value= diks
Enter value= eiks

['ram', 'biks', 'chiks', 'diks', 'eiks']

In [13]:
d={input("Enter the name="):int(input("Enter phone= ")) for i in range(2)}
d

Enter the name=ram
Enter phone= 2342
Enter the name=shyam
Enter phone= 232

{'ram': 2342, 'shyam': 232}

In [14]:
# Date and time 
import datetime

x = datetime.datetime.now()
print(x)

2022-11-01 08:32:41.429535

In [20]:
import datetime

x = datetime.datetime.now()

print(x.year)
print(x.strftime("%A"))
print(x.strftime("%B"))
print(x.strftime("%a"))
print(x.strftime("%b"))
print(x.strftime("%D"))
print(x.strftime("%d"))
print(x.strftime("%c"))

2022
Tuesday
November
Tue
Nov
11/01/22
01
Tue Nov  1 08:36:06 2022

In [22]:
import datetime

x = datetime.datetime.now()
value=input("Enter value:")
y=datetime.datetime.now()
print(y-x)

Enter value:ram
0:00:03.531143

In [23]:
#OS package
import os
#listdir(),mkdir(),chdir(),remove(),rmdir(),rename()
os.listdir()

['.ipynb_checkpoints',
 '1 November Bonus.ipynb',
 '10 oct home.ipynb',
 '10 October LIsts.ipynb',
 '11 oct home assignments .ipynb',
 '11 oct list continued.ipynb',
 '12 oct tuple.ipynb',
 '13 october dictionary.ipynb',
 '16 oct Sunday.ipynb',
 '17 Oct home assignment.ipynb',
 '17 October Function.ipynb',
 '18 October File handling.ipynb',
 '19 October Wednesday pandas.ipynb',
 '20 october thursday data base .ipynb',
 '21 october sql connector.ipynb',
 'bill.csv',
 'data.csv',
 'data.txt',
 'hilo .ipynb',
 'new_data.csv',
 'New_datas.csv',
 'new_datas.json',
 'new_file.txt',
 'Untitled.ipynb']

In [24]:
os.mkdir('newFolder')
os.listdir()

['.ipynb_checkpoints',
 '1 November Bonus.ipynb',
 '10 oct home.ipynb',
 '10 October LIsts.ipynb',
 '11 oct home assignments .ipynb',
 '11 oct list continued.ipynb',
 '12 oct tuple.ipynb',
 '13 october dictionary.ipynb',
 '16 oct Sunday.ipynb',
 '17 Oct home assignment.ipynb',
 '17 October Function.ipynb',
 '18 October File handling.ipynb',
 '19 October Wednesday pandas.ipynb',
 '20 october thursday data base .ipynb',
 '21 october sql connector.ipynb',
 'bill.csv',
 'data.csv',
 'data.txt',
 'hilo .ipynb',
 'newFolder',
 'new_data.csv',
 'New_datas.csv',
 'new_datas.json',
 'new_file.txt',
 'Untitled.ipynb']

In [25]:
os.chdir('newFolder')

In [26]:
pwd

'C:\\Users\\anish\\Untitled Folder\\newFolder'

In [27]:
cd ..

C:\Users\anish\Untitled Folder

In [29]:
os.listdir()
os.remove('data.csv')
os.listdir()

['.ipynb_checkpoints',
 '1 November Bonus.ipynb',
 '10 oct home.ipynb',
 '10 October LIsts.ipynb',
 '11 oct home assignments .ipynb',
 '11 oct list continued.ipynb',
 '12 oct tuple.ipynb',
 '13 october dictionary.ipynb',
 '16 oct Sunday.ipynb',
 '17 Oct home assignment.ipynb',
 '17 October Function.ipynb',
 '18 October File handling.ipynb',
 '19 October Wednesday pandas.ipynb',
 '20 october thursday data base .ipynb',
 '21 october sql connector.ipynb',
 'bill.csv',
 'data.txt',
 'hilo .ipynb',
 'newFolder',
 'new_data.csv',
 'New_datas.csv',
 'new_datas.json',
 'new_file.txt',
 'Untitled.ipynb']

In [30]:
# project management
# Trella---- free small business
# jira---- big projects(agile team)---more advanced than trello
# slack----most used in Nepal-- used to communicate between different department people
# microsoft team

SyntaxError: invalid syntax (2859224553.py, line 1)

In [ ]:
# GitHub