In [1]:
# python collection
# list for saving multiple variables with a single identifier
# tuple
# set
# dictionary

In [13]:
# list 
# supports 
#     indexing-- numbering of the positions
#     multiple data 
#     duplicate data 
#     ordered--prints as in the list--- position importance is given more

#     mutable---easily mutable

# b=list() -- used to convert to list ...an empty list

# a[] is an indexing bot list
a=[1,2,3,4]
b=list("ram")
print(b)

['r', 'a', 'm']

In [19]:
a=[1,2,3,4]
b=["Apple",'Ball', 'Cat','Ball']
print(type(a))
print(type(b))
print(a[0])
print(b[-1])
print(b[0:3])
print(b[0:4:2])
print(len(b))

<class 'list'>
<class 'list'>
1
Ball
['Apple', 'Ball', 'Cat']
['Apple', 'Cat']
4

In [21]:
a=["Apple",'Ball', 'Cat','Ball']
b=["Fish"]
c=a+b
print(c)

['Apple', 'Ball', 'Cat', 'Ball', 'Fish']

In [23]:
# how to read a list 

a=['Apple', 'Ball', 'Cat', 'Ball', 'Fish']
a[0]="apple"
print(a)

['apple', 'Ball', 'Cat', 'Ball', 'Fish']

In [24]:
# how to read a list 

a=['Apple', 'Ball', 'Cat', 'Ball', 'Fish']
for i in a:
    print(i)

Apple
Ball
Cat
Ball
Fish

In [27]:
a=['Apple', 'Ball', 'Cat', 'Ball', 'Fish']
for i in a:
    if i!= "Apple":
        print(i)

Ball
Cat
Ball
Fish

In [30]:
# how to read a list 

a=['Apple', 'Ball', 'Cat', 'Ball', 'Fish']
l=len(a)

for i in range(l):
    print(a[i],end=(" "))

Apple Ball Cat Ball Fish

In [43]:
a= list()
n=int(input("Enter the value of n="))
for i in range(n):
    x=int(input("Enter the value of x="))
    a=a+[x]
print(a)
print("the max value is  ", max(a))
print("the min value is  ", min(a))
print("the sum of the given value is  ", sum(a))
print("the average of the given value is  ", sum(a)/n)
a.sort()
print("the ascendeing order is ", a)
a.reverse()
print("the descendeing order is ", a) 
    
#     a=a + x  a+x list and an interger doesnt add up
#     a=a + list(x)  list(x) will be an error

Enter the value of n=3
Enter the value of x=6
Enter the value of x=9
Enter the value of x=4
[6, 9, 4]
the max value is   9
the min value is   4
the sum of the given value is   19
the average of the given value is   6.333333333333333
the ascendeing order is  [4, 6, 9]
the descendeing order is  [9, 6, 4]

In [36]:
# a= list() is defining the a as list..like in s=0; for integer, s="" for string


a= list()
n=int(input("Enter the number of students="))
for i in range(n):
    x=(input("Enter the names of students="))
    a=a+[x]
    
print(a)

Enter the number of students=3
Enter the names of students=sudip
Enter the names of students=bikesh
Enter the names of students=samir
['sudip', 'bikesh', 'samir']

In [45]:
a=['Apple', 'apple','Zebra','Jug', 'Cat', 'Ball', 'Fish']
a.sort()
print (a)
a.reverse()
print(a)

['Apple', 'Ball', 'Cat', 'Fish', 'Jug', 'Zebra', 'apple']
['apple', 'Zebra', 'Jug', 'Fish', 'Cat', 'Ball', 'Apple']

In [ ]:
#  to add values in list 
# append(), insert() extend()

#  to delete values in list 
# del ,  remove() pop()

# for indexing
# index ()

# value Counting
# count()

# calculation
# sum, max , min 

# sorting
# sort(), sorted(), reverse()