In [ ]:
#  to add values in list 
# append(), insert() extend()

#  to delete values in list 
# del ,  remove() pop()

# for indexing
# index ()

# value Counting
# count()

# calculation
# sum, max , min 

# sorting
# sort(), sorted(), reverse()

In [13]:
a=['Apple', 'apple','Zebra','Jug', 'Cat', 'Ball', 'Fish']
a.append('Bat')
a.append('Bull')
a.insert(3,'Jacket')

print(a)
print(a)
a.reverse()
print(a)

['Apple', 'apple', 'Zebra', 'Jacket', 'Jug', 'Cat', 'Ball', 'Fish', 'Bat', 'Bull']
['Apple', 'apple', 'Zebra', 'Jacket', 'Jug', 'Cat', 'Ball', 'Fish', 'Bat', 'Bull']
['Bull', 'Bat', 'Fish', 'Ball', 'Cat', 'Jug', 'Jacket', 'Zebra', 'apple', 'Apple']

In [15]:
a=['Apple', 'apple','Zebra','Jug', 'Cat', 'Ball', 'Fish']
b=['Ram', 'Shyam']
a.extend(b)

# c=a+b

print(c)

['Apple', 'apple', 'Zebra', 'Jug', 'Cat', 'Ball', 'Fish', 'Ram', 'Shyam']

In [24]:
a=['Apple', 'apple', 'Zebra', 'Jug', 'Cat', 'Ball', 'Fish', 'Ram', 'Shyam']
a[0]= 'apple'
del a[2]
del a[2:4]
print(a)

['apple', 'apple', 'Ball', 'Fish', 'Ram', 'Shyam']

In [1]:
# interchange the value of lists
# wrong way

a=['Apple', 'Ball', 'Cat',  'Dog']
a[0]= a[1]
a[1]=a[0]

print(a)

['Ball', 'Ball', 'Cat', 'Dog']

In [28]:
# Del syntax different

a=['Apple', 'apple', 'Zebra', 'Jug', 'Cat', 'Ball', 'Fish', 'Ram', 'Shyam']
del a[-1]
del a[2:4]
print(a)

['Apple', 'apple', 'Cat', 'Ball', 'Fish', 'Ram']

In [3]:
a=['Apple', 'Apple', 'Zebra', 'Jug', 'Cat', 'Ball', 'Fish', 'Ram', 'Shyam']
a.remove('Shyam')
a.remove('Apple')
l=a.count('Apple')
# doesnt remove duplicate value
print(l)
print(a)

1
['Apple', 'Zebra', 'Jug', 'Cat', 'Ball', 'Fish', 'Ram']

In [2]:
a=['Apple', 'Apple', 'Zebra', 'Jug', 'Cat', 'Ball', 'Fish', 'Ram', 'Shyam']
l=a.count('Apple')
for i in range(l):
    a.remove('Apple')
print(a)

['Zebra', 'Jug', 'Cat', 'Ball', 'Fish', 'Ram', 'Shyam']

In [39]:
a=['Apple', 'Apple', 'Zebra', 'Jug', 'Cat', 'Ball', 'Fish', 'Ram', 'Shyam']
a.index('Apple')

0

In [47]:
a=['Apple', 'Apple', 'Zebra', 'Jug', 'Cat', 'Ball', 'Fish', 'Ram', 'Shyam']
l=len(a)
for i in range(l):
    if a[i]=='Apple':
        
        print(i)

0
1

In [50]:
a=['Apple', 'Apple', 'Zebra', 'Jug', 'Cat', 'Ball', 'Fish', 'Ram', 'Shyam']
l=len(a)
for i in range(l):
    if a[i]=='Apple':
        a[i]='apple'
        print(a)

['apple', 'Apple', 'Zebra', 'Jug', 'Cat', 'Ball', 'Fish', 'Ram', 'Shyam']
['apple', 'apple', 'Zebra', 'Jug', 'Cat', 'Ball', 'Fish', 'Ram', 'Shyam']

In [54]:
a=['Apple', 'Apple', 'Zebra', 'Jug', 'Cat', 'Ball', 'Fish', 'Ram', 'Shyam']
b=[]
x=input('Enter x= ')
y=input("Enter y= ")
for i in a:
    if i == x:
        b.append(y)
    else:
        b.append(i)
        
b

Enter x= Apple
Enter y= apple

['apple', 'apple', 'Zebra', 'Jug', 'Cat', 'Ball', 'Fish', 'Ram', 'Shyam']

In [58]:
a=['Apple', 'Ball', 'Cat',  'Dog']
x=input("enter the name u want to search\n")
if x in a:
    print("Yes.Its in the position",a.count("Apple"))
    
else:
    print("not here plz ")

enter the name u want to search
apple
not here plz

In [59]:
#  WAP to search any value inside a list

In [74]:
                                # list inside the list (nested list)


a=[["Ram", 45, 'Kathmandu'],
  ['Shyam',25, 'Bhaktapur'],
  ['Hari', 34,'Lalitpur']]
b=[[1,2,3],[4,5,6],[7,8,9]]
l=len(a)
print(a[0])
print(a[0][0])
print(a[1][0])
print(a[2][0])

a.append(['Sita',45,'Bhaktapur'])
print(a)

['Ram', 45, 'Kathmandu']
Ram
Shyam
Hari
[['Ram', 45, 'Kathmandu'], ['Shyam', 25, 'Bhaktapur'], ['Hari', 34, 'Lalitpur'], ['Sita', 45, 'Bhaktapur']]

In [65]:
print(a[0])
a[2]

['Ram', 45, 'Kathmandu']

['Hari', 34, 'Lalitpur']

In [77]:
a=[["Ram", 45, 'Kathmandu'],
  ['Shyam',25, 'Bhaktapur'],
  ['Hari', 34,'Lalitpur']]
b=[[1,2,3],[4,5,6],[7,8,9]]

a.insert(1,['Ramesh',65,'Kathmandu'])

for i in a:
    print (i)

['Ram', 45, 'Kathmandu']
['Ramesh', 65, 'Kathmandu']
['Shyam', 25, 'Bhaktapur']
['Hari', 34, 'Lalitpur']

In [79]:
a=[["Ram", 45, 'Kathmandu'],
  ['Shyam',25, 'Bhaktapur'],
  ['Hari', 34,'Lalitpur']]

search= input("Enter a name:")
for i in a:
    if search in i:
        print(i)

Enter a name:ram

In [82]:
a=[["Ram", 45, 'Kathmandu'],
  ['Shyam',25, 'Bhaktapur'],
  ['Hari', 34,'Lalitpur']]
a[0][0]="Ravan"
a

[['Ravan', 45, 'Kathmandu'],
 ['Shyam', 25, 'Bhaktapur'],
 ['Hari', 34, 'Lalitpur']]