In [1]:
# tuple 
# supports 
#     indexing-- numbering of the positions
#     multiple data 
#     duplicate data 
#     ordered--prints as in the list--- position importance is given more

#     immutable

# For only one value comma is inportant
# for data that should not be edited
# lightweight
# conversion to list is possible

#         Tuple and list combinations 
#  tuple insie tuple
#  tuple insie list
#  list insie tuple

In [2]:
a=(1,2,3)
print(type(a))

<class 'tuple'>

In [6]:
a=("Apple","Ball")
b=("Fish","ram")
c=a+b
print(c)

('Apple', 'Ball', 'Fish', 'ram')

In [7]:
# no append insert extend sort ((((but can be sorted althought changes to list)))
# no del pop remove
# no update

In [12]:
a=tuple()
b=("Apple",)
c=("Ram",)
a= a+b
a=a+c
a

('Apple', 'Ram')

In [13]:
t= tuple()
n= int(input("Enter n="))
for i in range(n):
    x= int(input("Enter x="))
    t=t+(x,)
print(t)

Enter n=2
Enter x=3
Enter x=4
(3, 4)

In [15]:
a=("Apple","Ball")
l=list(a)
print(type(l))
print(type(a))

<class 'list'>
<class 'tuple'>

In [19]:
a=("Ram","Sita","Hari","Shyam")
x=input("Enter the name:")
if x in a:
    print("Yes")
else:
    print("No")

Enter the name:Sita
Yes

In [20]:
a=("Ram","Sita","Hari","Shyam")
sorted(a)

['Hari', 'Ram', 'Shyam', 'Sita']

In [22]:
#  tuple insie tuple
t=((1,2,3),
  (4,5,6),
  (7,8,9))
t

((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [23]:
t= tuple()
n= int(input("Enter n="))
for i in range(n):
    x= int(input("Enter x="))
    y= int(input("Enter y="))
    z= int(input("Enter z="))
    t=t+((x,y,z),)
print(t)

Enter n=2
Enter x=1
Enter y=2
Enter z=3
Enter x=3
Enter y=2
Enter z=1
((1, 2, 3), (3, 2, 1))

In [26]:
t=((1, 2, 3), (3, 2, 1))
for i in t:
    print(list(i))

[1, 2, 3]
[3, 2, 1]

In [25]:
#  list insie list


l=[]
t=((1, 2, 3), (3, 2, 1))
for i in t:
    l.append(list(i))
l

[[1, 2, 3], [3, 2, 1]]

In [32]:
# different method from above 
#  tuples insie list


t=((1, 2, 3), (3, 2, 1))
l=list(t)
l

[(1, 2, 3), (3, 2, 1)]

In [31]:
# can be added as a list


t=[(1, 2, 3), (3, 2, 1)]
t.append((7,8,9))
t

[(1, 2, 3), (3, 2, 1), (7, 8, 9)]

In [27]:
t=tuple()
l=[[1, 2, 3], [3, 2, 1]]
for i in l:
    t=t+(tuple(i),)
print(t)

((1, 2, 3), (3, 2, 1))

In [33]:
t=([1, 2, 3], [3, 2, 1])
t[0].clear()
t

([], [3, 2, 1])

In [34]:
# syntax error


t=([1, 2, 3], [3, 2, 1])
clear(t[0])
t

NameError: name 'clear' is not defined