In [1]:
# dictionary
# indexng
# duplicate (((values))) but no duplicate ((((key))
# ordered
# mutable

In [2]:
d=dict()
d={}
# key and value

In [9]:
# duplicate (((values))) but no duplicate ((((key))

d={"a":"apple","b":"ball","A":"apple"}
print(d)
print(d['a'])
print(d['A'])

{'a': 'apple', 'b': 'ball', 'A': 'apple'}
apple
apple

In [11]:
# duplicate (((values))) but no duplicate ((((key))

d={"a":"apple","b":"ball","a":"Ram"}
print(d)
print(d['a'])

{'a': 'Ram', 'b': 'ball'}
Ram

In [12]:
d={"a":"apple","b":"ball","A":"apple"}
d['c']="Cat"
print(d)

{'a': 'apple', 'b': 'ball', 'A': 'apple', 'c': 'Cat'}

In [14]:
# no append extend


d={}
d['a']="Apple"
d['b']= "Ball"
print(d)

{'a': 'Apple', 'b': 'Ball'}

In [15]:
d={}
n=int(input("Enter n="))
for i in range(n):
    name= input("Enter name:")
    phone=input("Enter phone:")
    d[name]=phone
    
print(d)

Enter n=2
Enter name:ensuu basnet
Enter phone:123
Enter name:shailesh basnet
Enter phone:432
{'ensuu basnet': '123', 'shailesh basnet': '432'}

In [22]:
# reading the data 

d={}
n=int(input("Enter n="))
for i in range(n):
    name= input("Enter name:")
    phone=input("Enter phone:")
    d[name]=phone

print(d)
print(d.items())
for i in d :
    print(i)
    
for i in d.values() :
    print(i)

Enter n=1
Enter name:sam
Enter phone:234
{'sam': '234'}
dict_items([('sam', '234')])
sam
234

In [23]:

d={'ensuu basnet': '123', 'shailesh basnet': '432'}
print(d)
print(d.items())


for i in d :
    print(i)
    
for i in d.values() :
    print(i)  
for i in d.items() :
    print(i)

{'ensuu basnet': '123', 'shailesh basnet': '432'}
dict_items([('ensuu basnet', '123'), ('shailesh basnet', '432')])
ensuu basnet
shailesh basnet
123
432
('ensuu basnet', '123')
('shailesh basnet', '432')

In [25]:
# dictionary inside list


l=[]
d={'ensuu basnet': '123', 'shailesh basnet': '432'}


for i in d.items() :
    l.append(i)
print(l)

[('ensuu basnet', '123'), ('shailesh basnet', '432')]

In [28]:
# delete

d={'Ram': '123', 'Hari': '432'}
del d["Ram"]
d

{'Hari': '432'}

In [29]:
# pop===== del or move to a new location

d={'Ram': '123', 'Hari': '432'}
d.pop("Ram")
d

{'Hari': '432'}

In [30]:
# pop

d={'Ram': '123', 'Hari': '432'}
c= d.pop("Ram")
print(c)
print(d)

123
{'Hari': '432'}

In [31]:
# list inside dictionary

d={'Ram': ['123','980'], 'Hari': ['432','453']}
print(d)

{'Ram': ['123', '980'], 'Hari': ['432', '453']}

In [32]:
d={}
n=int(input("Enter n="))
for i in range(n):
    name= input("Enter name:")
    ntc_phone=input("Enter ntc phone:")
    ncell_phone=input("Enter ncell phone:")
    d[name]=[ntc_phone,ncell_phone]
    
print(d)

Enter n=2
Enter name:anup
Enter ntc phone:2341
Enter ncell phone:343
Enter name:biks
Enter ntc phone:2323
Enter ncell phone:3434
{'anup ': ['2341', '343'], 'biks': ['2323', '3434']}

In [42]:
d={'anup': ['2341', '343'], 'biks': ['2323', '3434']}
d["hari"]=["123","5435"]
d

{'anup': ['2341', '343'], 'biks': ['2323', '3434'], 'hari': ['123', '5435']}

In [41]:
d={'anup': ['2341', '343'], 'biks': ['2323', '3434'], 'hari': ['123', '5435']}
d['anup'].append('98654563')
d

{'anup': ['2341', '343', '98654563'],
 'biks': ['2323', '3434'],
 'hari': ['123', '5435']}

In [45]:
d={'name':['Ram','Shyam','Hari'],'age':[64,89,54],'address':['Ktm','Bkt','Lalitpur']}
print(d)

{'name': ['Ram', 'Shyam', 'Hari'],
 'age': [64, 89, 54],
 'address': ['Ktm', 'Bkt', 'Lalitpur']}

In [46]:
# list inside dictionary


d={'name':['Ram','Shyam','Hari'],'age':[64,89,54],'address':['Ktm','Bkt','Lalitpur']}
d['name'].append('Pukar')
d['age'].append('43')
d['address'].append('Brt')
print(d)

{'name': ['Ram', 'Shyam', 'Hari', 'Pukar'], 'age': [64, 89, 54, '43'], 'address': ['Ktm', 'Bkt', 'Lalitpur', 'Brt']}

In [48]:
# dictionary inside list
# key always repeats


l=[{'name':'Ram','age':'43','add':'Ktm'},
  {'name':'Ravan','age':'54','add':'bkt'},
  {'name':'Kangsha','age':'24','add':'Ktm'}]
l

[{'name': 'Ram', 'age': '43', 'add': 'Ktm'},
 {'name': 'Ravan', 'age': '54', 'add': 'bkt'},
 {'name': 'Kangsha', 'age': '24', 'add': 'Ktm'}]

In [49]:
l=[]
n=int(input("Enter the value :"))
for i in range(n):
    name=input("Enter the name :")
    age=int(input("Enter age="))
    add=input("Enter add:")
    d={'name':name,'age':age,'add':add}
    l.append(d)
    
print(l)

Enter the value :2
Enter the name :ravan
Enter age=43
Enter add:ktm
Enter the name :kangsa
Enter age=65
Enter add:lanka
[{'name': 'ravan', 'age': 43, 'add': 'ktm'}, {'name': 'kangsa', 'age': 65, 'add': 'lanka'}]

In [53]:
print(l[0]['name'])
l[0]['age']

ravan

43

In [62]:
l=[{'name': 'ravan', 'age': 43, 'add': 'ktm'}, {'name': 'kangsa', 'age': 65, 'add': 'lanka'}]
del l[0]['name']
l

[{'age': 43, 'add': 'ktm'}, {'name': 'kangsa', 'age': 65, 'add': 'lanka'}]

In [66]:
# dictionary inside dictionary


d={1:{"a":"apple"},
   2:{"b":"ball"},
   3:{"a":"Ram"}}
print(d)
c=d.values()
print(c)

{1: {'a': 'apple'}, 2: {'b': 'ball'}, 3: {'a': 'Ram'}}
dict_values([{'a': 'apple'}, {'b': 'ball'}, {'a': 'Ram'}])