In [1]:
# Set{}
# no indexing
# unordered (dictionary wass also unordered in previous versions)
# multiple but no duplicate data 
# mutable data 
# no lists(also set)(mutable) inside a set
# but tuple(also string(immutable) inside set is possible
# list or tuples can contain sets

In [5]:
s={1,2,3}
s=set()
print(type(s))
type(s)

<class 'set'>

set

In [6]:
# unordered
# prints unordered data

s={34,56,22,89,34,11,23}
print (s)
s

{34, 22, 23, 56, 89, 11}

{11, 22, 23, 34, 56, 89}

In [7]:
# no indexing

s={34,56,22,89,34,11,23}
print (s[0])

TypeError: 'set' object is not subscriptable

In [8]:
# no duplicate data

s={34,56,22,89,34,11,23,11,56}
print(s)

{34, 22, 23, 56, 89, 11}

In [10]:
# remove duplicate values from a list

s=[34,56,22,89,34,11,23,11,56]
list(set(s))

[34, 11, 22, 23, 56, 89]

In [11]:
s= set()
s.add('Apple')
s.add('Ball')
s.add('Cat')
print(s)

{'Cat', 'Ball', 'Apple'}

In [12]:
# s={} is a dictionary

s=set()
n=int(input("Enter n="))
for i in range(n):
    x=input("Enter x=")
    s.add(x)
s

Enter n=2
Enter x=ram
Enter x=ravan

{'ram', 'ravan'}

In [14]:
# values can be removed but not upgraded:replaced concatenation, enlargement(since no duplicate)

s={34,56,22,89,34,11,23,11,56}
s.remove(11)
s

{22, 23, 34, 56, 89}

In [24]:
# Set is always worked in a pair


apple={"Ram","Jobs","Jack","Sabin"}
ms={'Gates','Naresh','Jack','Sabin'}
print(apple.intersection(ms))
print(apple.union(ms))
print(apple.difference(ms))
print(apple-ms)
print(ms.difference(apple))
apple.update(ms)
print(apple)

{'Sabin', 'Jack'}
{'Naresh', 'Jack', 'Ram', 'Jobs', 'Sabin', 'Gates'}
{'Ram', 'Jobs'}
{'Ram', 'Jobs'}
{'Naresh', 'Gates'}
{'Naresh', 'Jack', 'Ram', 'Jobs', 'Sabin', 'Gates'}

In [28]:
U={'Naresh', 'Jack', 'Ram', 'Jobs', 'Sabin', 'Gates','Jim','Kim','Putin'}
apple={"Ram","Jobs","Jack","Sabin"}
ms={'Gates','Naresh','Jack','Sabin'}
A=apple.union(ms)
un=U-A
print(un)

{'Putin', 'Kim', 'Jim'}

In [29]:
job={"Python","html","CSS","django"}
u={'Python','html'}
c=job.intersection(u)
print(c)
print(len(c)/len(job)*100)

{'Python', 'html'}
50.0

In [30]:
# Set inside list 
l=[{1,2,3},{4,5,6}]
l

[{1, 2, 3}, {4, 5, 6}]

In [31]:
# Set inside list 
t=[{1,2,3},{4,5,6}]
t

[{1, 2, 3}, {4, 5, 6}]

In [34]:
d={'apple':{"Ram","Jobs","Jack","Sabin"},
  'ms':{'Gates','Naresh','Jack','Sabin'},
  'intersection':{'Sabin', 'Jack'}}
type(d)

dict

In [35]:
# isdisjoint(),subset(),superset(), issubset(),issuperset()

apple.isdisjoint(ms)

False