In [2]:
# file=<open('<file_path>','<mode>')
# file.clode()

In [3]:
# with open('file_name>','<mode>') as file:
#          <operations>

In [4]:
# mode
# read---- 'r'
# create-- 'x'
# write-=---'w'
# append==='a'

In [1]:
try:
    file= open('new_file.txt','x')
    file.close()
except:
    print("The file is already created")

The file is already created

In [44]:
# Read file 

file= open('new_file.txt','r')
x=file.read()
print(x)
file.close()

1. Hello Maadar
2. Hello Baadar

In [14]:
#convert to list

x.split('\n')     #converts to list

['1. Hello Maadar', '2. hello Madar']

In [20]:
n= int(input("Enter n:"))
x.split('\n')[n]

Enter n:1

'2. hello Madar'

In [17]:
n= int(input("Enter n:"))
x.split('\n')[n-1]           #(((((#line no 1 becomes the first element of list ie index =0)))))

Enter n:1

'1. Hello Maadar'

In [22]:
# creates and edits the file ::
with open('data.txt','w') as file:
    file.write('Hello world')

In [28]:
s=""
n=int(input("Enter n:"))
for i in range(n):
    name= input("Enter name=")
    age= int(input("Enter age="))
    add= input("Enter add=")
    s=s+f"{name}{age}{add}\n"
    
    
with open('data.txt','w') as file:
    file.write(s)

Enter n:2
Enter name=Raavan
Enter age=23
Enter add=lanka
Enter name=kangsa
Enter age=2342
Enter add=ayodhya

In [29]:
pwd

'C:\\Users\\anish\\Untitled Folder'

In [34]:
s = ""
bill = str()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    total = price*quantity
    all_total = all_total+total
    bill = f" {name},{price}, {quantity}, {total}\n"
    s=s+bill
print(s)
with open('data.csv','w') as file:
    file.write('Name,Price,Quantity,Total\n')
    file.write(s)

Enter n = 1
Enter namealu
Enter price = 25
Enter quantity = 2
 alu,25, 2, 50

pip install pandas

import pandas as pd
df = pd.read_csv('data.csv')
df

In [35]:
#pip install pandas to install pandas in other softwares

import pandas as pd
df = pd.read_csv('data.csv')
df

   Name  Price  Quantity  Total
0   alu     25         2     50

In [38]:
import csv
a= [['Name','price','quantity','Total'],['alu',25, 2, 50],['pyaj',25, 2, 50]]
with open('bill.csv','w') as file:
    x=csv.writer(file)
    x.writerows(a)

In [39]:
# reading the file
# list with dictionary inside

import csv
data=[]
with open('bill.csv','r') as file:
    reader= csv.DictReader(file)
    for i in reader:
        data.append(i)
        
data

[{'Name': 'alu', 'price': '25', 'quantity': '2', 'Total': '50'},
 {'Name': 'pyaj', 'price': '25', 'quantity': '2', 'Total': '50'}]

In [42]:
# list inside list

file=open('data.csv','r')
x= file.read()
y=x.split('\n')
print(y)


file.close()

['Name,Price,Quantity,Total', ' alu,25, 2, 50', '']

In [43]:
for i in y[0:-1]:
    print(i.split(','))

['Name', 'Price', 'Quantity', 'Total']
[' alu', '25', ' 2', ' 50']

In [47]:
import csv
a=[' Pizza', '250', ' 2', ' 500']
with open('bill.csv','a') as file:
    x=csv.writer(file)
    x.writerow(a)