In [1]:
!pip install mysql-connector

Defaulting to user installation because normal site-packages is not writeable
Collecting mysql-connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
Building wheels for collected packages: mysql-connector
  Building wheel for mysql-connector (setup.py): started
  Building wheel for mysql-connector (setup.py): finished with status 'done'
  Created wheel for mysql-connector: filename=mysql_connector-2.2.9-cp39-cp39-win_amd64.whl size=247961 sha256=ec5f3a0956fd2389c99602fca6731ba35837e35a9af0818c45a8f326eaa5cc88
  Stored in directory: c:\users\anish\appdata\local\pip\cache\wheels\7b\14\39\5aad423666e827dfe9a1fbcd111ac17171e7c9865d570780ce
Successfully built mysql-connector
Installing collected packages: mysql-connector
Successfully installed mysql-connector-2.2.9

In [5]:
import mysql.connector  		#importing database

database = mysql.connector.connect(
  host="localhost",
  user="root",
  password=""
)
db = database.cursor() 

db.execute("CREATE DATABASE pythons")

In [19]:
import mysql.connector  		#importing database

database = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database='class8am'
)
db = database.cursor()

In [20]:
db.execute('SELECT * FROM student')      #("SELECT * FROM student”)
result =db.fetchall()

for x in result:
  print(x)

(2, 'Bikash gautam', 98.0, 43.0, 54.0, 54.0, 54.0, 465.0, 67.0, 'B')
(3, 'Raavan ', 90.0, 99.0, 98.0, 98.0, 99.0, 490.0, 99.0, 'A')
(1, 'Rabindra', 87.0, 87.0, 76.0, 67.0, 67.0, 467.0, 67.0, 'A')

In [32]:
sql='''INSERT INTO student (sn, name, physics, chemistry, maths, english, nepali, total, per, grade) 
VALUES (4, 'Allu', 87, 87, 76, 67, 67, 467, 67, 'A');'''
db.execute(sql)
database.commit()

In [40]:
name=input("Enter name: ")
physics = float(input("Enter physics = "))
chemistry = float(input("Enter chemistry = "))
math = float(input("Enter math = "))
english = float(input("Enter english = "))
nepali = float(input("Enter nepali = "))

total = physics+chemistry+math+english+nepali
per = total/5
if per>80 or per==80:
    grade = 'A'
elif per> 60 or per ==60:
    grade = 'B'
elif per > 45 or per == 45:
    grade = 'C'
else:
    grade = 'F'
    
sql=f'''INSERT INTO student (name, physics, chemistry, maths, english, nepali, total, per, grade) 
VALUES ('{name}', {physics}, {chemistry}, {math}, {english}, {nepali}, {total}, {per}, '{grade}');'''
db.execute(sql)
database.commit()

Enter name:Chame
Enter physics =89
Enter chemistry =87
Enter math =88
Enter english =77
Enter nepali =77

In [41]:
sql = "DELETE FROM student WHERE sn = 4"

db.execute(sql)

database.commit()

In [43]:
# update

ql = "UPDATE student SET name = 'Kangska' WHERE name = 'Kangsa'"
db.execute(sql)
database.commit()