In [22]:
n = int(input("Enter the higher range= "))
print("the prime numbers are \n")
for i in range(1,n+1):
    if n>1:
        for j in range(2,(i)):
            if i%j==0:
    #           print ("composite number:", i)
                break
        else:
            print(i,end=("  "))

Enter the higher range= 7
the prime numbers are

1  2  3  5  7

In [57]:
lower = 1
upper = 21

print("Prime numbers between", lower, "and", upper, "are:")

for num in range(lower, upper + 1):
   # all prime numbers are greater than 1
   if num > 1:
       for i in range(2, num):
           if (num % i) == 0:
               break
       else:
           print(num, end=(" "))

Prime numbers between 1 and 21 are:
2 3 5 7 11 13 17 19

In [3]:
n=int(input("Enter the no." ))
for i in range (1,n+1):
    if n>1:
        for j in range(2,i):
            if i%j==0:
                break
        else:
            print(i, end=(" "))

Enter the no.9
1 2 3 5 7

In [2]:
# check wether the number is prime or composite

n=int(input("Enter the number to check for prime or not : "))
if n>1:
    for i in range (2,n):
        if n%i==0:
            print("The number is composite number", n)
            break
        

    else:
        print("The number is prime number", n)
        
else:
    print ("The number is none ")

Enter the number to check for prime or not :7
The number is prime number 7

In [42]:
#different but long



n= int(input("Enter the higher range of number= "))
print("\nComposite numbers are:")
for i in range(1,n+1):
    if n >1:
        for j in range(2,i):
            if i%j==0:
                print(i, end=("  "))
                break
print("\nPrime numbers are:")
for i in range(1,n+1):
    if n >1:
        for j in range(2,i):
            if i%j==0:
                break
        else:
            print(i, end=("  "))

Enter the higher range of number= 21

Composite numbers are:
4  6  8  9  10  12  14  15  16  18  20  21
Prime numbers are:
1  2  3  5  7  11  13  17  19

In [55]:
s=""
N=int(input("No. of students"))
for i in range(N):
    name = input("Name of the student\n")
    M=int(input("Maths marks\n"))
    E=int(input("English marks\n"))
    T=M+E
    p=T/2
    if p>50:
        a="you are pass"
    else:
        a="you are fail"
    EQN=f"{name} {M} {E} {T} {p} {a}\n"
    s=s+ EQN
print("name Maths English Total p remarks")
print(s)

No. of students2
Name of the student
ram
Maths marks
56
English marks
54
Name of the student
shaym
Maths marks
98
English marks
89
name Maths English Total p remarks

ram 56 54 110 55.0 you are pass
shaym 98 89 187 93.5 you are pass

In [9]:
l1=[84,65,2,4,78,3,4,5]
l1.sort()
l1.reverse()
print(l1)

[84, 78, 65, 5, 4, 4, 3, 2]

In [12]:
l1=[84,65,2,4,78,3,4,5]
l1.append(99)
l1[8]

99

In [20]:
l1=[84,65,2,4,78,3,4,5]
l1.remove(4)
l1.remove(4)
l1

[84, 65, 2, 78, 3, 5]

In [22]:
l1=[84,65,2,4,78,3,4,5]
l1.pop(4)
l1

[84, 65, 2, 4, 3, 4, 5]

In [30]:
f1= (input("Enter the fruit name;\n"))
f2= (input("Enter the fruit name;\n"))
f3= (input("Enter the fruit name;\n"))

l1=[f1,  f2,  f3]
print(l1)

Enter the fruit name;
mange
Enter the fruit name;
apple
Enter the fruit name;
papaya
['mange', 'apple', 'papaya']

In [26]:
d={"bikesh":"good friend", "samir":"brother","pratigya":"girl friend"}
print(d)
print(d["bikesh"],d["pratigya"])
print(d["samir"])
for x in d.values():
    print (x)
    
for r,t in d.items():
    print(r,t)

{'bikesh': 'good friend', 'samir': 'brother', 'pratigya': 'girl friend'}
good friend girl friend
brother
good friend
brother
girl friend
bikesh good friend
samir brother
pratigya girl friend

In [32]:
d={"bikesh":"He is my good friend. He lives in Patan. He works at Medipro in civil mall", 
   "samir":"He is my good brother. He lives in Bhaktapur. He works as an electrician",
   "pratigya":"She is my girl friend. She is very pretty"}
n=input("Enter the name of the person whose details u want to know \n")
if n in d: 
    print(d[n])
else:
    print("no information")
# for i in d:
#     print(d[i])

Enter the name of the person whose details u want to know
pratigya
She is my girl friend. She is very pretty

In [24]:
d={"anup":"myself","bikesh":"friend", "pratigya":"girl friend", "office":"Shrestha consultant", "ram":"no one"}

# add new key and value
d["samir"]="brother"
d.update({"dines":"Collague"})

#replace
d["anup"]="suman"
# d.replace({"dines":"kibachhe"}) doesnot work

#delete
del d["ram"]
#copy the dictionary
d2=d.copy()

# getting the values
print(d.get("anup"), d["pratigya"])


print(d)
print(d2)
print(d2.keys())
print(d2.values())

suman girl friend
{'anup': 'suman', 'bikesh': 'friend', 'pratigya': 'girl friend', 'office': 'Shrestha consultant', 'samir': 'brother', 'dines': 'Collague'}
{'anup': 'suman', 'bikesh': 'friend', 'pratigya': 'girl friend', 'office': 'Shrestha consultant', 'samir': 'brother', 'dines': 'Collague'}
dict_keys(['anup', 'bikesh', 'pratigya', 'office', 'samir', 'dines'])
dict_values(['suman', 'friend', 'girl friend', 'Shrestha consultant', 'brother', 'Collague'])

In [31]:
def area(b,h):
    return float(0.5*b*h)
area(3,4)

6.0